.container {
  display: flex;
  min-height: 100vh;
  background-color: #111827;
  color: white;
  width: 100%;
}

.sidebar {
  width: 16rem;
  background-color: #1f2937;
  padding: 1.5rem;
}

.sidebar li {
  margin: 1rem 0;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
